<h1><%= @post.title %></h1>

<!-- Luckily Rails handles JS and SQL injections for us -->
<div class="trix-content"><%=raw @post.body %></div>

<div class="post-actions float-right my-2">
  <%= link_to t('.delete'),
              @post,
              data: { confirm: t('.sure') },
              method: :delete,
              class: 'btn btn-danger' %>
</div>

<div class="clearfix"></div>

<hr>
